/* ---FONT SIZE--- */
/* Screens */
@font-face {
	font-family: "Roboto-black";
	src: url("../assets/fonts/Roboto-Black.ttf");
}

@font-face {
	font-family: "Roboto-medium";
	src: url("../assets/fonts/Roboto-Medium.ttf");
}

@font-face {
	font-family: "Roboto-bold";
	src: url("../assets/fonts/Roboto-Bold.ttf");
}

* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-overflow-scrolling: touch;
	-ms-touch-action: manipulation;
	    touch-action: manipulation;
}

html {
	scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	line-height: normal;
	margin: 0;
}

body {
	background: url(../img/desktop/bg.png) #000 top no-repeat;
	background-size: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-y: scroll;
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	        align-items: center;
	font-size: 1vw;
	height: 192.1em;
}

@media screen and (max-width: 500px) {
	body {
		background: url(../img/mobile/bg-mobile.png) #000 top no-repeat;
		background-size: 100%;
	}
}

ul {
	list-style: none;
	padding: 0;
}

button,
a {
	color: black;
	cursor: pointer;
	text-decoration: none;
}

.header {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	        align-items: center;
	width: 100%;
	height: 4.5em;
	background-color: rgba(23, 4, 49, .7);
	margin-bottom: 46.02em;
}

.header__logo {
	width: 6.34em;
}

.cosmonaut1 {
	position: absolute;
	left: 0;
	top: 45.1em;
	-webkit-transition: .5s linear;
	     -o-transition: .5s linear;
	        transition: .5s linear;
	-webkit-animation: cosmonaut-1 2s linear alternate infinite;
	        animation: cosmonaut-1 2s linear alternate infinite;
}

.cosmonaut2 {
	position: absolute;
	right: 2.6em;
	top: 44.6em;
	-webkit-transition: .5s linear;
	     -o-transition: .5s linear;
	        transition: .5s linear;
	-webkit-animation: cosmonaut-2 2s linear alternate infinite;
	        animation: cosmonaut-2 2s linear alternate infinite;
}

.cosmonaut1 > img {
	width: 23.95em;
}

.cosmonaut2 > img {
	width: 27em;
}

.space1 {
	position: absolute;
	right: 0;
	top: 3em;
}

.space1 > img {
	width: 29.7em;
}

.space2 {
	position: absolute;
	left: 13.4em;
	top: 30.7em;
}

.space2 > img {
	width: 25.7em;
}

.space3 {
	position: absolute;
	right: 0;
	top: 31em;
}

.space3 > img {
	width: 12.7em;
}

.planet {
	position: absolute;
	left: 0;
	top: 16em;
	z-index: 1;
}

.planet > img {
	width: 21.3em;
}

.arrow {
	position: absolute;
	left: 6em;
	top: 7em;
}

.arrow > img {
	width: 41.8em;
}

.main {
	z-index: 1;
	width: 100%;
	max-width: 51.25em;
}

.list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	        justify-content: space-between;
	width: 100%;
}

.list-item__img {
	width: 6.6em;
	margin-bottom: .625em;
}

.list-item {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	        align-items: center;
	opacity: 0;
	-webkit-animation: appearance .9s ease-in-out;
	        animation: appearance .9s ease-in-out;
	-webkit-animation-delay: .3s;
	        animation-delay: .3s;
	-webkit-animation-fill-mode: forwards;
	        animation-fill-mode: forwards;
}

.list-item:nth-of-type(2) {
	margin-top: 7em;
	margin-right: 9.4em;
	-webkit-animation-delay: .6s;
	        animation-delay: .6s;
}

.list-item:nth-of-type(3) {
	-webkit-animation-delay: .6s;
	        animation-delay: .6s;
	margin-top: 7em;
}

.list-item__text {
	font-family: "Roboto-bold";
	font-size: 1em;
	text-align: center;
	color: #fff;
}

.overlay-active {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backdrop-filter: blur(10px);
	        backdrop-filter: blur(10px);
	z-index: 10;
}

.header .container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	        align-items: center;
	padding: 15px 15px 0;
	margin-bottom: 12px;
}

.wheel-wrapper {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	        justify-content: center;
}

.wheel--outside {
	display: block;
	position: absolute;
	top: 10.1em;
	width: 45.2em;
	z-index: 10;
}

.wheel--inside {
	display: block;
	position: absolute;
	top: 12.7em;
	width: 44.1em;
}

@-webkit-keyframes step-1 {
	from {
		-webkit-transform: rotate(0);
		        transform: rotate(0);
	}
	to {
		-webkit-transform: rotate(1430deg);
		        transform: rotate(1430deg);
	}
}

@keyframes step-1 {
	from {
		-webkit-transform: rotate(0);
		        transform: rotate(0);
	}
	to {
		-webkit-transform: rotate(1430deg);
		        transform: rotate(1430deg);
	}
}

@-webkit-keyframes step-2 {
	from {
		-webkit-transform: rotate(1430deg);
		        transform: rotate(1430deg);
	}
	to {
		-webkit-transform: rotate(2590deg);
		        transform: rotate(2590deg);
	}
}

@keyframes step-2 {
	from {
		-webkit-transform: rotate(1430deg);
		        transform: rotate(1430deg);
	}
	to {
		-webkit-transform: rotate(2590deg);
		        transform: rotate(2590deg);
	}
}

@-webkit-keyframes cosmonaut-1 {
	0% {
		-webkit-transform: translate(5px, 5px);
		        transform: translate(5px, 5px);
	}
	100% {
		-webkit-transform: translate(-5px, -5px);
		        transform: translate(-5px, -5px);
	}
}

@keyframes cosmonaut-1 {
	0% {
		-webkit-transform: translate(5px, 5px);
		        transform: translate(5px, 5px);
	}
	100% {
		-webkit-transform: translate(-5px, -5px);
		        transform: translate(-5px, -5px);
	}
}

@-webkit-keyframes cosmonaut-2 {
	0% {
		-webkit-transform: translateX(5px);
		        transform: translateX(5px);
	}
	100% {
		-webkit-transform: translateX(-5px);
		        transform: translateX(-5px);
	}
}

@keyframes cosmonaut-2 {
	0% {
		-webkit-transform: translateX(5px);
		        transform: translateX(5px);
	}
	100% {
		-webkit-transform: translateX(-5px);
		        transform: translateX(-5px);
	}
}

@-webkit-keyframes appearance {
	0% {
		opacity: 0;
		-webkit-transform: translateY(30%);
		        transform: translateY(30%);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
}

@keyframes appearance {
	0% {
		opacity: 0;
		-webkit-transform: translateY(30%);
		        transform: translateY(30%);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
}

.step-1 {
	-webkit-animation: step-1 5s forwards;
	        animation: step-1 5s forwards;
}

.step-2 {
	-webkit-animation: step-2 5s forwards;
	        animation: step-2 5s forwards;
}

#firstWrapper {
	height: 78.1em;
	margin-bottom: 8em;
}

#secondWrapper {
	display: none;
}

#secondWrapper > .modal__text {
	max-width: 8em;
}

.wheel-btn {
	position: absolute;
	left: 50%;
	top: 29.8em;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	        align-items: center;
	z-index: 10;
	border-radius: 50%;
}

.wheel-btn > img {
	width: 10.9em;
}

.animation-in-process {
	pointer-events: none;
}

.modal {
	background-image: url(../img/desktop/popup-bg.png);
	background-repeat: no-repeat;
	background-size: 100%;
	opacity: 0;
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	top: 14em;
	width: 35.4em;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	        align-items: center;
	z-index: 0;
	padding-top: 5.1em;
}

.modal__title {
	font-family: "Roboto-black";
	font-size: 2.25em;
	font-weight: 900;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 1.3em;
}

.modal__text-wrapper {
	background-image: url(../img/desktop/pop-img.png);
	background-repeat: no-repeat;
	background-size: 100%;
	width: 25.2em;
	text-align: center;
	padding-top: 12.7em;
	height: 23em;
	margin-bottom: 6em;
	text-align: center;
}

.modal__button {
	background-image: url(../img/desktop/popup-btn.png);
	background-repeat: no-repeat;
	background-size: 100%;
	width: 10.4em;
	padding: 1.5em 0;
	font-family: "Roboto-black";
	font-size: 1.375em;
	text-align: center;
	color: #fff;
	margin-top: -1.6em;
}

.modal__close-button {
	position: absolute;
	background-image: url(../img/desktop/close-popup.png);
	background-repeat: no-repeat;
	background-size: 100%;
	right: -1em;
	top: -1em;
	width: 5em;
	height: 4.2em;
}

.modal-active {
	-webkit-transition: opacity .3s ease 0s;
	     -o-transition: opacity .3s ease 0s;
	        transition: opacity .3s ease 0s;
	opacity: 1;
	z-index: 11;
}

.modal__text {
	font-family: "Roboto-medium";
	font-weight: 500;
	font-size: 1.5em;
	color: #fff;
	max-width: 7em;
	margin: 0 auto;
}

@media screen and (max-width: 500px) {
	.header {
		height: 9.5em;
	}
	.header__logo {
		width: 18.74em;
	}
	.space1,
	.space2,
	.space3,
	.planet,
	.arrow {
		display: none;
	}
	.cosmonaut-desktop {
		display: none;
	}
	.cosmonaut1 {
		top: 152.1em;
	}
	.cosmonaut1 > img {
		width: 46.95em;
	}
	.cosmonaut2 {
		top: 147.6em;
	}
	.cosmonaut2 > img {
		width: 46em;
	}
	.list-item__img {
		width: 16.8em;
	}
	.list-item__text {
		font-size: 3.35em;
		font-family: "Roboto-bold";
		max-width: 5.6em;
	}
	.last-child {
		max-width: none;
	}
	.list-item:nth-of-type(2) {
		margin-top: 5em;
		margin-right: 0;
	}
	.list-item:nth-of-type(3) {
		margin-top: 5em;
	}
	.main {
		max-width: 90.55em;
		margin-top: 58em;
	}
	.modal {
		background-image: url(../img/mobile/popup-bg.png);
		width: 92.4em;
		padding-top: 11.1em;
		padding-bottom: 8em;
		top: 28em;
	}
	.modal__title {
		font-size: 6.45em;
	}
	.modal__text-wrapper {
		background-image: url(../img/mobile/popup-img.png);
		width: 79.2em;
		padding: 40.7em 0;
		margin-bottom: 5em;
	}
	.modal__text {
		font-size: 4.5em;
	}
	.modal__button {
		background-image: url(../img/mobile/popup-btn-mob.png);
		width: 7.3em;
		padding: unset;
		height: 4.4em;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display:         flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		        justify-content: center;
		margin-top: 0;
		font-size: 4.375em;
		-webkit-text-size-adjust: 88%;
	}
	.modal__close-button {
		width: 16em;
		height: 13.6em;
		top: -3em;
	}
	.wheel--outside {
		top: 16.2em;
		width: 90.9em;
	}
	.wheel--inside {
		top: 21.5em;
		width: 89.6em;
	}
	.wheel-btn {
		top: 56.7em;
	}
	.wheel-btn > img {
		width: 21.2em;
	}
	#firstWrapper {
		height: 78.1em;
		margin-bottom: 5em;
	}
	#secondWrapper {
		height: 78.4em;
		margin-bottom: 5em;
	}
}

@media (min-width: 500px) {
	.cosmonaut-mobile {
		display: none;
	}
}

